![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [1]:
# Import necessary packages
import pandas as pd
import numpy as np

# Begin coding here ...
# Use as many cells as you like

In [2]:
# Loading Airbnb price data
airbnb_price_df = pd.read_csv("./data/airbnb_price.csv")
print(airbnb_price_df.head())

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [3]:
# EDA of Airbnb price data
airbnb_price_df.info() #-> shows any NA value and that we should retype price column to float
# Retyping price column to float type
airbnb_price_df['price'] = airbnb_price_df['price'].str.replace("dollars", "")
airbnb_price_df['price'] = airbnb_price_df['price'].str.strip()
airbnb_price_df['price'] = airbnb_price_df['price'].astype("float")
print(airbnb_price_df.head())
airbnb_price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB
   listing_id  price                nbhood_full
0        2595  225.0         Manhattan, Midtown
1        3831   89.0     Brooklyn, Clinton Hill
2        5099  200.0     Manhattan, Murray Hill
3        5178   79.0  Manhattan, Hell's Kitchen
4        5238  150.0       Manhattan, Chinatown
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  float64
 2   nbhood_full  25209 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 591.0+ KB

In [4]:
airbnb_price_df['price'].describe()
cheapest_airbnb = airbnb_price_df.loc[airbnb_price_df['price'] == 0]

In [5]:
print(cheapest_airbnb)

       listing_id  price                   nbhood_full
10861    20333471    0.0        Bronx, East Morrisania
10958    20523843    0.0            Brooklyn, Bushwick
11023    20639628    0.0  Brooklyn, Bedford-Stuyvesant
11024    20639792    0.0  Brooklyn, Bedford-Stuyvesant
11025    20639914    0.0  Brooklyn, Bedford-Stuyvesant
11577    21291569    0.0            Brooklyn, Bushwick
11589    21304320    0.0            Brooklyn, Bushwick

In [6]:
# Compute the average of airbnb listings prices in avg_price
avg_price = airbnb_price_df['price'].mean().round(2)
print("Average listing price: ", avg_price)

Average listing price:  141.78

In [7]:
# Loading Airbnb reviews data
airbnb_reviews_df = pd.read_csv("data/airbnb_last_review.tsv", delimiter="\t")
print(airbnb_reviews_df.head(2))

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019

In [8]:
# EDA of Airbnb reviews data
airbnb_reviews_df.info()
airbnb_reviews_df['last_review'] = pd.to_datetime(airbnb_reviews_df['last_review'], infer_datetime_format=True)
#airbnb_reviews_df['last_review'] = airbnb_reviews_df['last_review'].dt.strftime("%Y%m%d")
airbnb_reviews_df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

/tmp/ipykernel_143710/278281237.py:3: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  airbnb_reviews_df['last_review'] = pd.to_datetime(airbnb_reviews_df['last_review'], infer_datetime_format=True)

listing_id              int64
host_name              object
last_review    datetime64[ns]
dtype: object

In [9]:
missing_values = airbnb_reviews_df[airbnb_reviews_df['host_name'].isna()]
print(missing_values)
# Checking if duplicated listings after founding missing values in host name column
print("Unique Airbnb listings: ", airbnb_reviews_df['listing_id'].nunique())
# Deleting rows with those missing values
airbnb_reviews_df.dropna(subset=['host_name'], inplace=True)
print("Remaining number of rows: ", airbnb_reviews_df.shape[0])

       listing_id host_name last_review
263        100184       NaN  2019-07-08
3040      4183989       NaN  2019-05-23
4039      6292866       NaN  2019-06-19
4269      6786181       NaN  2019-06-19
6338     12113879       NaN  2019-07-02
8060     15648096       NaN  2019-07-07
12128    21867710       NaN  2019-01-01
12164    21901156       NaN  2019-01-01
Unique Airbnb listings:  25209
Remaining number of rows:  25201

In [10]:
# Gathering earliest and most recent reviews in first_reviewed and last_reviewed variables respectively
first_reviewed = airbnb_reviews_df['last_review'].min()
last_reviewed = airbnb_reviews_df['last_review'].max()
print(f"Earliest reviewed listing date: {first_reviewed}.\nMost recent reviewed date: {last_reviewed}")

Earliest reviewed listing date: 2019-01-01 00:00:00.
Most recent reviewed date: 2019-07-09 00:00:00

In [11]:
# Loading Airbnb rooms data file
airbnb_rooms_df = pd.read_excel("data/airbnb_room_type.xlsx")
print(airbnb_rooms_df.head(2))

   listing_id                      description        room_type
0        2595            Skylit Midtown Castle  Entire home/apt
1        3831  Cozy Entire Floor of Brownstone  Entire home/apt

In [12]:
# EDA of Airbnb rooms data
print("Dtypes: ", airbnb_rooms_df.dtypes)
print("Room types breakdown:\n", airbnb_rooms_df['room_type'].value_counts())
airbnb_rooms_df.info()

Dtypes:  listing_id      int64
description    object
room_type      object
dtype: object
Room types breakdown:
 room_type
Entire home/apt    8458
Private room       7241
entire home/apt    2665
private room       2248
ENTIRE HOME/APT    2143
PRIVATE ROOM       1867
Shared room         380
shared room         110
SHARED ROOM          97
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   description  25199 non-null  object
 2   room_type    25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [13]:
airbnb_rooms_df['room_type'] = airbnb_rooms_df['room_type'].str.lower()
airbnb_rooms_df['room_type'] = airbnb_rooms_df['room_type'].str.strip()

In [14]:
# Getting the number of private rooms
breakdown_types = airbnb_rooms_df['room_type'].value_counts()
nb_private_rooms = breakdown_types['private room']
#nb_private_rooms = airbnb_rooms_df[airbnb_rooms_df['room_type'] == 'private room'].shape[0]
print("Nb of private rooms: ", nb_private_rooms)

Nb of private rooms:  11356

In [15]:
# Final result
review_dates = pd.DataFrame({"first_reviewed": first_reviewed, "last_reviewed": last_reviewed,
                            "nb_private_rooms": nb_private_rooms, "avg_price": avg_price}, index=[0])
print(review_dates)

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78